.profile-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 25px;
  font-family: "Cairo", sans-serif;
}

.profile-card h3 {
  color: #1f1f1f;
  font-weight: 700;
}

.profile-card p {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.breadcrumb-container {
  position: relative;
  direction: rtl;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #1f1f1f;
  font-weight: bold;
  font-size: 20px;
  background-color: #ccffcc;
  height: 69px;
}

.home-icon img {
  width: 25px;
  height: 25px;
  margin-left: 8px;
}
