/* src/components/PaymentMethod.css */

.payment-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  direction: rtl;
  background-color: #fff;
}

.payment-title {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.payment-option {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.payment-option.selected {
  border-color: #3cbc3c;
}

.radio-circle {
  height: 20px;
  width: 20px;
  border: 2px solid #3cbc3c;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-dot {
  width: 10px;
  height: 10px;
  background-color: #3cbc3c;
  border-radius: 50%;
}

.option-text {
  flex: 1;
}

.icon {
  width: 30px;
  height: 20px;
  object-fit: contain;
}

.pay-button {
  width: 100%;
  padding: 10px;
  background-color: #d4f8d4;
  color: #007500;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.back-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}



.EDPaymentMethod {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 41px;
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Tajawal', sans-serif;
  color: #212529;
  background-color: #ccffcc; /* لون أخضر فاتح */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.3s ease;
  z-index: 1;
}

/* الخلفية المتحركة */
.EDPaymentMethod::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* يبدأ من اليمين */
  width: 0%;
  height: 100%;
  background: #b2f2bb; /* لون أخضر أغمق */
  transition: width 1s ease;
  z-index: -1;
  border-radius: 10px;
}

/* عند hover */
.EDPaymentMethod:hover::before {
  width: 100%;
  left: 0;
}

.EDPaymentMethod:hover {
  color: #fff; /* النص يصبح أبيض عند الـ hover */
}