body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.my-orders-container {
  padding: 30px;
  background-color: #f4f4f4;
}

.orders-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.payment-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 14px;
}

.orders-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-item {
  display: flex;
  background-color: #eafae7;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.order-image {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

.order-info {
  text-align: right;
}

.order-info h3 {
  margin: 0 0 5px;
}

.order-meta {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-size: 14px;
  align-items: center;
}

.color-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.buy-again-btn {
  margin-top: 30px;
  background-color: #a5f5a5;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
