/* إعدادات عامة */
body {
  margin: 0;
  font-family: "Tahoma", Arial, sans-serif;
  direction: rtl;
  background-color: #fff;
  color: #333;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* خطوات */
.steps {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
  font-weight: bold;
}

.steps .active {
  color: #047857;
}

/* صندوق النجاح */
.success-box {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}



.success-box h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.success-box p {
  color: #666;
  margin: 10px 0 20px;
}

.btn {
  background: #047857;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #065f46;
}




.tansik-tasawak{
   width:200px;
    height: 50px;
     background-image: linear-gradient(to right,#ccffcc 90%  , #b2f2bb 10%);
}

.tansik-tasawak :hover{
  background-image:#b2f2bb;
}




/* إعدادات الدائرة */
.icon {
  background: #bbf7d0;
  color: #f0f3f2;
  font-size: 160px;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ETBNagah {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 41px;
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Tajawal', sans-serif;
  color: #212529;
  background-color: #ccffcc; /* لون أخضر فاتح */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.3s ease;
  z-index: 1;
}

/* الخلفية المتحركة */
.ETBNagah::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* يبدأ من اليمين */
  width: 0%;
  height: 100%;
  background: #b2f2bb; /* لون أخضر أغمق */
  transition: width 1s ease;
  z-index: -1;
  border-radius: 10px;
}

/* عند hover */
.ETBNagah:hover::before {
  width: 100%;
  left: 0;
}

.ETBNagah:hover {
  color: #fff; /* النص يصبح أبيض عند الـ hover */
}