.ButtonProduct{
    width:20px;
    height: 10px;
     background-image: linear-gradient(to right,#ccffcc 90%  , #b2f2bb 10%);
     
}

.montagat {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 41px;
  width: 160px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Tajawal', sans-serif;
  color: #212529;
  background-color: #ccffcc; /* لون أخضر فاتح */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.3s ease;
  z-index: 1;
}

/* الخلفية المتحركة */
.montagat::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* يبدأ من اليمين */
  width: 0%;
  height: 100%;
  background: #b2f2bb; /* لون أخضر أغمق */
  transition: width 1s ease;
  z-index: -1;
  border-radius: 10px;
}

/* عند hover */
.montagat:hover::before {
  width: 100%;
  left: 0;
}

.montagat:hover {
  color: #fff; /* النص يصبح أبيض عند الـ hover */
}
